
.vetor-recursos {
    box-sizing: border-box;
    padding: 2.4rem 1.7rem;
    width: 15rem;
    min-width: 8rem;
    box-shadow: -0.5rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 1.3rem;
}


.vetor-recursos p {
    color: var(--action-color);
}

.vetor-recursos > div p:first-child {
    font-weight: bold;
    font-size: 14px; 
    margin: 10px 0; 
    text-align: center;

}
.vetor-recursos > div p:last-child {
    font-weight: 500;
    font-size: 11.5px;  
}
.vetor-recursos img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}