.section2{
    background-color: var(--text-light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7rem 5% 8rem 5%;
}

.section2 > h2{
    color: var(--action-color);
}

.section2 > :nth-child(2) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    grid-gap: 5rem;
}

.section2 #s2{
    max-width: 20rem;
    margin-right: 4rem;
}

