.section4{
    display: flex;
    flex-direction: row;
    padding: 7rem 9% 8rem 9%;
    justify-content: space-between;
    align-items: center;
}

.section4 > div{
    max-width: 40rem;
    margin-right: 5rem;
}

.section4 > img{
    width: 42rem;
    height: 35rem;
    object-fit: contain;
}

.section4 > div > h2{
    font-weight: bold;
    color: var(--text-light);
    font-size: 50px;
    line-height: 75px;
    text-align: left;
    margin-bottom: 3rem;
}

.section4 > div > p{
    color: var(--text-light);
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.section4 > div > :nth-child(3){
    display: flex;
    grid-gap: 3rem;
}

.section4 > div > :nth-child(3) li{

    box-shadow: 0 0 0 1px var(--text-light);
    border-radius: 3rem;
    padding: 10px 20px;

}

.section4 > div #saiba-mais a{
    color: var(--text-light);
    font-weight: 500;
}

.section4 > div #teste-gratis-section{
    background-color: var(--text-light);
}
.section4 > div #teste-gratis-section a{
    color: var(--action-color);
    font-weight: 500;
}

@media screen and (max-width: 1300px) {
    .section4 > img{
        width: 33rem;
        height: 28rem;
    }
}

@media screen and (max-width: 1080px) {
    .section4{
        justify-content: center;
    }
    .section4 > img{
        display: none;
    }
    .section4 > div > h2{
        text-align: center;
    }
    .section4 > div {
        margin-right: 0;
    }
}