li {
    min-width: fit-content;
    height: fit-content;
    font-size: small;
    list-style: none;
}
li Link{
    font-family: "Montserrat";
}
li img {
    max-width: 70px;
}

#icone-busca {
    border-radius: 50%;
    padding: 6px;
}