.section1 {
    text-align: center;
}

.section1 > h2:first-child {
    color: white;
    margin-bottom: 5rem;
}

.section1 .recursos-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    grid-gap: 2rem;
    align-self: center;
}

@media screen and (max-width: 1560px) {
    .section1 .recursos-div{
        width: 70%;
        grid-gap: 3.5rem;
    }
}
