.section1 {
    text-align: center;
}

.section1 > h2:first-child {
    color: white;
}

.section1 .recursos-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    grid-gap: 2rem;
    width: 80%;
    align-self: center;
}


