footer {
    background-image: url("/footer-image.svg");
    background-size: cover;
    padding: 20rem 6% 5% 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    text-align: left;

}


footer :first-child {
    max-width: 12rem;
}
  

footer .conteudo-ilustrativo-footer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

footer .conteudo-ilustrativo-footer .copyright{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
footer .conteudo-ilustrativo-footer .redes-sociais-grupo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

footer .conteudo-ilustrativo-footer .redes-sociais-grupo > img {
    width: 1rem;
}
  
  
footer .conteudo-ilustrativo-footer .copyright > img {
    margin-right: 0.35rem;
    height: 10px;
}
  
footer .conteudo-ilustrativo-footer .copyright > p {
    font-size: 12px;
    color: var(--nav-bar-text-color);
}
 
footer .logo-footer {
    width: 8rem;
}

footer .baixe-nosso-app {
    display: flex;
    flex-direction: column;
}

footer .baixe-nosso-app > img {
    width: 10rem;
}










